/* to use rem set root element font size to 62.5% */

html {
  font-size: 62.5%;
}

#skills {
  color: rgb(245, 177, 90);
  font-size: 2.6rem;
}

#title {
  font-size: 3.6rem;
  /* color: red; */
  background-color: #9dc284;
}

/* target id = "add-skill" */
#add-skill {
  font-size: 2.6rem;
  border: 3px solid #9dc284;
  border-radius: 0;
  /* color: red; */
}
/* target add skill button */
#add-skill-btn {
  font-size: 2rem;
  border: 3px solid #9dc284;
  border-radius: 0;
  width: 40%;

  /* color: red; */
}

/* center card on the body with margins */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  margin: 0 auto;
}

/* .addSkill {
  border: 2 px solid green;
  background-color: transparent;
} */

/* .main {
  background-color: #fff;
  height: 50rem;
  width: 50rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  padding: 20rem 20rem;
} */
/* make card a square */
.card {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background-color: #fff;
  /* border: 3px solid #000; */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  padding: 20rem 20rem;
}
